#Configuration info
[Project Info]
    Project = 19161

[OemCommonCapbility]
    ForceSensorFps = 0
    MaxSensitivityBoost = 6399

###LogicalCameraConfiguration begin
[LogicalCameraConfiguration]
    NumOfLogicalCamera = 8
    LogicalCamera[0] = SingleWideCameraConfiguration
    LogicalCamera[1] = SingleFrontCameraConfiguration
    LogicalCamera[2] = SingleUltraWideCameraConfiguration
    LogicalCamera[3] = SingleMono1CameraConfiguration
    LogicalCamera[4] = SingleMono2CameraConfiguration
    LogicalCamera[5] = RTBUWWCameraConfiguration
    LogicalCamera[6] = RTBM1WCameraConfiguration
    LogicalCamera[7] = RTBM2WCameraConfiguration

[SingleWideCameraConfiguration]
    logicalCameraId    = 0
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleWideCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 0

[SingleWideCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleFrontCameraConfiguration]
    logicalCameraId    = 1
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleFrontCameraDeviceInfo
    primarySensorID    = 2
    cameraType         = 1

[SingleFrontCameraDeviceInfo]
    sensorId               = 2
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleUltraWideCameraConfiguration]
    logicalCameraId    = 2
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleUltraWideCameraDeviceInfo
    primarySensorID    = 1
    cameraType         = 2

[SingleUltraWideCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleMono1CameraConfiguration]
    logicalCameraId    = 3
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleMono1CameraDeviceInfo
    primarySensorID    = 3
    cameraType         = 13

[SingleMono1CameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleMono2CameraConfiguration]
    logicalCameraId    = 4
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleMono2CameraDeviceInfo
    primarySensorID    = 4
    cameraType         = 14

[SingleMono2CameraDeviceInfo]
    sensorId               = 4
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBUWWCameraConfiguration]
    logicalCameraId    = 5
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBUWCameraDeviceInfo
    deviceInfo[1]      = RTBWCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 8

[RTBUWCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBWCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBM1WCameraConfiguration]
    logicalCameraId    = 6
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBM1CameraDeviceInfo
    deviceInfo[1]      = RTBWCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 15

[RTBM1CameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBM2WCameraConfiguration]
    logicalCameraId    = 7
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBM2CameraDeviceInfo
    deviceInfo[1]      = RTBWCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 16

[RTBM2CameraDeviceInfo]
    sensorId               = 4
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

###LogicalCameraConfiguration end

[UsecaseMatching]
    #logicalCameraId          W
    StabilizationCameraList = 0;
    UsecaseEngmodeRemosaicSFR = true

[Feature2GraphCameraIdMap]
    SingleCameraList = 0; 1; 2; 3; 4
    MultiCameraList  = 5; 6; 7; 8
    BokehCameraList  = 5; 6; 7
    FusionCameraList = 8

[QuickSnapshotMatching]
    #logicalCameraId            REAR  FRONT
    QuickSnapshotCameraIdList = 0;    1;

[AFCapbility]
   AIAFTrackingEnable = 0;

[BokehConfigureInformation]
    RearBokehImgSizeList           = 4000; 3000; 2304; 1728
    RearMonoBokehImgSizeList       = 4000; 3000; 1600; 1200
    RearMonoSecondBokehImgSizeList = 4000; 3000; 1600; 1200
    RWMCaliSize = 4096
    RWMDualCaliPath   = /mnt/vendor/persist/camera/mwStereoParams.bin
    RWMDualCaliPathAS = /mnt/vendor/persist/camera/mwStereoParams_aftersale.bin

[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask      index
    Mode[0]         =     0x8007;            0xFFFF;            0x0000;           1  #Panorama
    Mode[1]         =     0x800B;            0xFFFF;            0x0000;           1  #COMMON VIDEO
    Mode[2]         =     0x800B;            0x0001;            0x0008;           3  #COMMON VIDEO EIS REAR
    Mode[3]         =     0x800B;            0x0004;            0x0000;           0  #COMMON VIDEO REAR_AUX
    Mode[4]         =     0x800B;            0x0001;            0x0009;           3  #EIS + 4K 30fps REAR
    Mode[5]         =     0x800C;            0x0001;            0x0000;           3  #FastVideo REAR
    Mode[6]         =     0x8010;            0xFFFF;            0x0000;           12 #HALF PORTRAIT
    Mode[7]         =     0x8011;            0xFFFF;            0x0000;           5  #FULL PORTRAIT
    Mode[8]         =     0x8019;            0xFFFF;            0x0000;           1  #SN
    Mode[9]         =     0x8019;            0x0004;            0x0000;           0  #SN REAR_AUX
    Mode[10]        =     0x8021;            0x0001;            0x0000;           4  #60FPS VIDEO non 4K REAR
    Mode[11]        =     0x8021;            0x0004;            0x0000;           0  #60FPS VIDEO non 4K REAR_AUX
    Mode[12]        =     0x8021;            0xFFFF;            0x0001;           4  #60FPS VIDEO 4K
    Mode[13]        =     0x800E;            0xFFFF;            0x0000;           1  #Stiker
    Mode[14]        =     0x8028;            0xFFFF;            0x0000;           2  #SUPER EIS
    Mode[15]        =     0x80A2;            0xFFFF;            0x0000;           3  #NightVideo
    Mode[16]        =     0x80A5;            0xFFFF;            0x0000;           2  #FastMotionVideo
    Mode[17]        =     0x80A3;            0x0001;            0x0000;           3  #REAR Main Movie
    Mode[18]        =     0x80A3;            0x0004;            0x0000;           0  #REAR Wide Movie
    Mode[19]        =     0x80A4;            0x0001;            0x0000;           3  #REAR Main Movie EIS
    Mode[20]        =     0x8001;            0x0001;            0x0000;           10 #REAR Normal ICE
    Mode[21]        =     0x8001;            0x0001;            0x0020;           -1 #48M mode

[SetFwkRDIStream]
    isNeeded = false

[EngCamSensorSettingMap]
    #                  operation_mode   sensor_mask   index
    Mode[0]        =      0x0;            0xFFFF;       1;
    Mode[1]        =      0x0;            0x0004;       0;
    Mode[2]        =      0x8022;         0xFFFF;       6;
    Mode[3]        =      0x8024;         0xFFFF;       6;
    Mode[4]        =      0x8024;         0x0004;       0;
    Mode[5]        =      0x0;            0x0008;       6;
    Mode[6]        =      0x8028;         0x0002;       0;
    Mode[7]        =      0x802A;         0xFFFF;       0;

[EngCamSensorSettingMap]
    #                  operation_mode   sensor_mask   feature_mask   index
    Mode[0]        =      0x0;            0xFFFF;        0x0000;       1;
    Mode[1]        =      0x0;            0x0004;        0x0000;       0;
    Mode[2]        =      0x0;            0xFFFF;        0x0010;       6;
    Mode[3]        =      0x0;            0x0008;        0x0000;       6;
    Mode[4]        =      0x8028;         0x0002;        0x0000;       0;

[EngineercameraConfig]
    # The size of this list should equal to m_numLogicalCameras
    engineercamera.jpeg.size.QCFA = 1; 0; 1; 1; 1; 1; 1; 1; 1;
    custom.raw.size.QCFA          = 1; 0; 1; 1; 1; 1; 1; 1; 1;

[OrmsConfig]
    # Full Portrait mode capture action timeout
    FPCaptureActionTimeout = 1500
    # ThirdApp Orms Enable config
    UseOrmsForThirdApp = false

[OemCamActuatorSettingMap]
    #operation mode     is_need_power      first_value        second_value      third_vaue  if is_need_power is 0 set other variables to 0
        Mode[0]      =     0;                 0;                 0;                0        #VCM lowerBound
        Mode[1]      =     1;                 1;                 0;                -1       #VCM upperBound
        Mode[2]      =     1;                 -1;                -1;               0        #BIVCM lowerBound
        Mode[3]      =     1;                 1;                 -1;               -1       #BIVCM upperBound

[LaserFlicker]
    IsLaserFlickerSupported = false

[OemPDAFCalib]
    isOemPDAFCalib = TRUE

[OemZoomRatioThreshold]
    #Zoom Ratio             4x      2x     1x
    zoomRatioThreshold =  100.0;  100.0;  1.4

[OemFDAttrEnableMap]
    #                  operation_mode   sensor_mask
    Mode[0]        =      0x8001;            0xFFFF;
    Mode[1]        =      0x800E;            0xFFFF;
    Mode[2]        =      0x800B;            0xFFFF;
    Mode[3]        =      0x8019;            0x0002;

[GyroSensorName]
    SensorName[0] = bmi160;

[NormalVideoUsecase]
    VideoUsecaseForFastVideo = TRUE;
[IZoomMinLineCount]
    imx586 = 17;